<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en` }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>{{ site.Params.siteTitle | default site.Title }}</title>
  {{- $css := resources.Get "css/reading-log.css" }}
  <style>{{ $css.Content | safeCSS }}</style>
  {{- if ne site.Params.darkModeEnabled false }}
  {{- $darkCss := resources.Get "css/reading-log-dark.css" }}
  <style>{{ $darkCss.Content | safeCSS }}</style>
  {{- end }}
</head>
<body>
{{ block "main" . }}{{ end }}
{{- block "scripts" . }}{{ end }}
</body>
</html>
